{% load static %}
{% load my_tags %}
<div class="row">
    {% for object in product_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ object.preview|mymedia}}" alt="Будет картинка">
            <div class="card-body">
                <h2>{{ object.name }}</h2>
                <p>{{ object.description|truncatechars:100 }}</p>
                <p><a class="btn btn-secondary" href="{% url 'catalog:info' object.pk %}" role="button">Посмотреть &raquo;</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
