{% load static %}
{% load my_tags %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ object.preview|mymedia}}" alt="Будет картинка">
            <div class="card-body">
                <h2>{{ object.name }}</h2>
                <p>{{ object.description|truncatechars:100 }}</p>
                <p>{% if object.active_version %}
                    {{ object.active_version }}
                    {% endif %}
                </p>
                <a href="{% url 'catalog:info' object.pk %}"
                   class="btn btn-primary">Подробно</a>
                {% if request.user == object.author or request.user.is_staff and not request.user.is_superuser %}
                <a href="{% url 'catalog:update_product' object.pk %}"
                   class="btn btn-primary">Изменить</a>
                {% endif %}
                {% if request.user == object.author %}
                <a href="{% url 'catalog:delete_product' object.pk %}"
                   class="btn btn-primary">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
