{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="col-md-5">
    <div class="card mb-5 box-shadow">
        <img src="{{ one_product.preview|mymedia}}" alt="Будет картинка">
        <div class="card-body">
            <h2>{{ one_product.name }}</h2>
            <p>{{ one_product.category }}</p>
            <p>{{ one_product.description }}</p>
            <p>Цена (за штуку): {{ one_product.price }}</p>
            <p>Дата создания: {{ one_product.date_create }}</p>
            <p>Дата изменения: {{ one_product.date_last_change }}</p>
        </div>
    </div>
</div>
{% endblock %}
