{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="col-md-5">
    <div class="card mb-5 box-shadow">
        <img src="{{ object.preview|mymedia}}" alt="Будет картинка">
        <div class="card-body">
            <h2>{{ object.name }}</h2>
            <p>{{ object.category }}</p>
            <p>{{ object.description }}</p>
            <p>Цена (за штуку): {{ object.price }}</p>
            <p>Дата создания: {{ object.date_create }}</p>
            <p>Дата изменения: {{ object.date_last_change }}</p>
        </div>
    </div>
</div>
{% endblock %}
